<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15597862865-112gbta15arhat8rosps5m4eehv961h1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15597862865-112gbta15arhat8rosps5m4eehv961h1</string>
	<key>API_KEY</key>
	<string>AIzaSyC6xT9zp-N2RFN6tOQmRTWBLw4cqFl4pUs</string>
	<key>GCM_SENDER_ID</key>
	<string>15597862865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amemiya.SwimNote</string>
	<key>PROJECT_ID</key>
	<string>swimnote-49c9e</string>
	<key>STORAGE_BUCKET</key>
	<string>swimnote-49c9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15597862865:ios:6b653947aac2fe6a</string>
	<key>DATABASE_URL</key>
	<string>https://swimnote-49c9e.firebaseio.com</string>
</dict>
</plist>